@import url("./movie-card.css");

:root {
  /* Colors */
  --primary: #397234;
  --primary-hover: #2f5a2a;
  --primary-content: #f1f1f1;
  --secondary: #b78449;
  --secondary-hover: #8f5c3a;
  --secondary-content: #0b0f08;
  --accent: #acbd5e;
  --accent-hover: #8f9a4c;
  --accent-content: #0b0f08;
  --background-1: #0b0f08;
  --background-2: #283f23;
  --background-3: #3f2617;
  --outline-1: #b78449;
  /* Sizes */
  --xs: 0.25rem;
  --sm: 0.5rem;
  --md: 0.75rem;
  --lg: 1rem;
  --xl: 1.5rem;
  --2xl: 2rem;
  --3xl: 3rem;
  --4xl: 4rem;
  --5xl: 5rem;
  /* Fonts */
  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  background-color: var(--background-1);
  color: var(--primary-content);
  width: 100vw;
  height: 100vh;
}

/* Buttons */

.btn {
  border: none;
  border-radius: 5px;
  font-family: var(--font-heading);
  padding: var(--sm) var(--md);
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--primary-content);
  &:hover {
    background-color: var(--primary-hover);
  }
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--secondary-content);
  &:hover,
  &:focus {
    background-color: var(--secondary-hover);
  }
}

.btn-accent {
  background-color: var(--accent);
  color: var(--accent-content);
  &:hover,
  &:focus {
    background-color: var(--accent-hover);
  }
}
/* Background Colors */
.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}
.bg-accent {
  background-color: var(--accent);
}
.bg-base-1 {
  background-color: var(--background-1);
}

.bg-base-2 {
  background-color: var(--background-2);
}

.bg-base-3 {
  background-color: var(--background-3);
}

/* Text Colors */

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-accent {
  color: var(--accent);
}

.popular-movies {
  width: 100%;
}

.popular-movies-list {
  display: flex;
  width: 100%;
  flex-direction: row;
  overflow: auto;
  gap: var(--md);
  padding: var(--md);
  justify-content: start;
  align-items: center;
}
