.show-card {
  box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5);
  outline: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 8px;
  width: 120px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  -moz-user-select: none;
  scroll-snap-align: start;
  text-decoration: none;
  color: var(--primary-content);
  cursor: pointer;
  transition: transform 1s ease-in-out;
  background: #000;

  &:hover img,
  &:focus img {
    transform: scale(1);
  }

  img {
    pointer-events: none;
  }

  /* .pot-foreground {
    position: absolute;
    bottom: 0;
  }

  .pot-background {
    position: absolute;
    bottom: 0;
  }

  .leaf-frame {
    position: absolute;
    width: 160px;
    top: 7%;
    left: -5%;
    transform: scaleY(1.1);
  } */

  .show-poster-container {
    position: relative;
    width: 120px;
    height: 180px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out;
  }

  .show-poster {
    width: 120px;
    height: 180px;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }

  &:hover .show-title-container,
  &:focus .show-title-container {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover .show-poster,
  &:focus .show-poster {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }

  .show-title-container {
    opacity: 0;

    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 3rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
  }
  h2 {
    font-family: "Inter", sans-serif;
    padding: 0px 8px;
    font-size: 0.65rem;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
  }
  .show-type {
    font-weight: 400;
    border-radius: 4px;
    position: absolute;
    padding: 2px 4px;
    top: 0;
    right: 10%;
    font-size: 0.6rem;
    margin-top: 0.5rem;
  }
}

@media screen and (min-width: 1441px) {
  .show-card {
    width: 200px;
    .show-poster-container {
      width: 200px;
      height: 300px;
    }
    .show-poster {
      width: 200px;
      height: 300px;
    }
    div {
      font-size: 0.875rem;
    }
    h2 {
      font-size: 0.75rem;
    }
    span {
      font-size: 1rem;
    }
  }
}
